server:
  # Render automatically detects port 10000
  port: ${PORT:8080}

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        add-to-gateway-request-chain: true
        cors-configurations:
          '[/**]':
            allowedOriginPatterns: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/users/**

        - id: ride-service
          uri: lb://ride-service
          predicates:
            - Path=/rides/**

eureka:
  client:
    service-url:
      # Aapka live Eureka Server link
      defaultZone: ${EUREKA_SERVER_URL:https://service-registry-qhsy.onrender.com/eureka/}
    register-with-eureka: true
    fetch-registry: true
  instance:
    # Render par dynamic IPs ki wajah se hostname best hai
    prefer-ip-address: false
    hostname: api-gateway-n7gy.onrender.com
    # Render's specific port binding
    non-secure-port: ${server.port}